<div class="topnav">
  <button mat-flat-button color="primary" (click)="loadInData()">Load in data</button>
  <button mat-flat-button color="primary" (click)="mutateData()">Mutate data</button>
  <div *ngIf="peopledataSource?.dataStream | async as ds">Count: {{ds.length}}</div>
</div>

<cdk-virtual-scroll-viewport #viewPort [itemSize]="ITEM_SIZE" matSort>
  <mat-table mat-table [dataSource]="peopledataSource!">
    <!-- User name Definition -->
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef> User name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fullName}} </mat-cell>
    </ng-container>
  
    <!-- Age Definition -->
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.age}} </mat-cell>
    </ng-container>
  
    <!-- Title Definition -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
    </ng-container>
  
    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['fullName', 'age', 'email']; sticky: true" [style.top.px]="tableTopOffset$ | async"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['fullName', 'age', 'email']"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [length]="totalLength"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizes"
                 aria-label="Select page"
                 [style.bottom.px]="paginatorBottomOffset$ | async">
  </mat-paginator>
</cdk-virtual-scroll-viewport>